.main{
    width: 100vw;
    height: 100vh;
    background: url('../../../public/background.png');

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    form{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input, button{
            width: 100%;
            padding: 0.5em;
            border-radius: 5px;
            margin-bottom: 0.5em;
            border: none;
        }

        button{
            background: #2ec3ac;
            color: #fff;
        }

        .passwordInput{
            width: 100%;
            border-radius: 5px;
            background-color: #fafafa;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.3em;

            input{
                width: 90%;
                background: none;
                margin: 0 auto;
            }

            svg{
                border-radius: 5px;
                background-color: #fafafa;
                width: 10%;
                margin-right: 0.2em;
            }
        }

    }

    a{
        font-size: 0.7em;
        color: #2ec3ac;
    }

}